/*CSS elements for the navigation bar.
Same for all webpages. */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    display:inline;
    float:right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size: 1vw;
}
li a{
    display:block;
    padding:1vw 1vw;
    color:aliceblue;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: rgb(9, 90, 46);
}
/*Footer CSS elements*/
.footer{
    width:100%;
    background-color: black;
    left: 0;
    bottom: 0;
}
/* CSS elements for the home page.
The box is unique to the home page */
body{
    background-color: black;
}
/*webpage content*/
.box-a {
    width: 70vw;
    height: 40vw;
    padding: 1vw;
    top: 50%;
    left: 50%;
    margin-left: 15vw;
    margin-top: 2vw;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(9, 90, 46);
    border-radius: 1vw;
}
h1{
    font-size: 3.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:white;
    margin-top: 1vw;
}
h2{
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}
h4{
    font-size: 1.5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-style: italic;
}

